<h1 class="page-title"><%= t("erp.skus.actions.edit_sku") %></h1>

<section class="panel">
  <%= render "form", sku: @sku, category_options: @category_options, master_sku_options: @master_sku_options, modal: false %>
</section>
