<%= turbo_frame_tag "erp_modal" do %>
  <div class="erp-modal-backdrop" data-controller="modal" data-action="click->modal#closeOnBackdrop">
    <section class="erp-modal" role="dialog" aria-modal="true" aria-labelledby="store-modal-title">
      <div class="erp-modal__header">
        <h2 id="store-modal-title"><%= t("erp.stores.actions.edit_store") %></h2>
        <button class="icon-button" type="button" aria-label="<%= t("common.actions.close") %>" data-action="modal#close">
          <i class="bi bi-x-lg" aria-hidden="true"></i>
        </button>
      </div>
      <%= render "form", store: @store, modal: true %>
    </section>
  </div>
<% end %>
